<div class="row">
  <div class="col-xl-9">
    <div data-bs-spy="scroll" data-bs-target="#on-this-page-menu" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <h1 id="home"><fa-icon [icon]="'battery-three-quarters'"></fa-icon> Batteriespeicher</h1>
      <p>
        Um den Strom aus den fluktuierenden Energiequellen wie Wind und Sonne zu speichern, werden Batteriespeicher
        immer wichtiger. Sie bieten die Möglichkeit diese Energie bedarfsgerecht einzuspeisen und bilden daher einen
        essentiellen Teil der Energiewende. Dabei gibt es verschiedene Anwendungsfälle für diese Speicher, etwa der
        Einsatz zur Kombination mit der heimischen Aufdach- oder Balkonsolaranlage oder auch die Nutzung zum Ausgleich
        kurzfristiger Schwankungen in der Stromversorgung im Stromnetz.
      </p>
      <p>Batteriespeicher sind Bestandteil des <a href="https://www.marktstammdatenregister.de/MaStR">Marktstammdatenregisters</a> der
        <a href="https://www.bundesnetzagentur.de/cln_112/DE/Home/home_node.html">Bundesnetzagentur</a>. Die <a
          href="https://www.rwth-aachen.de/cms/~a/root/">RWTH Aachen</a> hat nun eine automatisierte Auswertung dieses
        Registers vorgenommen und unter ihrem <a href="https://battery-charts.rwth-aachen.de/">Battery Charts</a>-Dashboard
        veröffentlicht. Das Dashboard, entwickelt von <a href="https://www.linkedin.com/in/jan-figgener-23546b111/">Jan Figgener</a>,
        <a href="https://www.linkedin.com/in/christopher--hecht/">Christopher Hecht</a> und <a href="https://www.linkedin.com/in/dirk-uwe-sauer-6baa51205/">Prof. Dirk Uwe Sauer</a> des
        <a href="https://www.isea.rwth-aachen.de/cms/~ojnv/ISEA/">Instituts für Stromrichtertechnik und Elektrische Antriebe
          (ISEA)</a> enthält ebenfalls eine Auswertung auf Bundeslandebene. Das Projektteam hat mir erlaubt, diese Daten
        auch in mein Dashboard zu integrieren. Vielen dank dafür an das gesamte Team! <fa-icon icon="heart" [styles]="{ color : 'red' }"></fa-icon>
        Eine detaillierte Marktanalyse kann der <a href="https://www.researchgate.net/publication/359227699_The_development_of_battery_storage_systems_in_Germany_A_market_review_status_2022/fulltext/62300450c2d665734f122c17/The-development-of-battery-storage-systems-in-Germany-A-market-review-status-2022.pdf?_sg%5B0%5D=dMBaVWaaejI7bQqbUKu2WhgxMk3sQXYyGAfjRIYNRlHG2Wxri_SifaljFDQZHUYyP7T59Wi9NCDsydvIO7PaLQ.BNu4wR5ZYf1yh7c5VA1KioVPebPmU9NCamskl5Tfn5bSZgrbDWG-psaEQ7vEJxAaYKWQMhvSUyo8lrsMeC10RA&_sg%5B1%5D=ljkVz7ooGMlbAM53DFuPkSIs4E9gm10cEVhFpEARPKrwyU-RmQuy7lV3lJ2QXBRcRMHgCNu5E4QDKqbakNNTF3DRaHNRP_7hmjr89UK2KJF6.BNu4wR5ZYf1yh7c5VA1KioVPebPmU9NCamskl5Tfn5bSZgrbDWG-psaEQ7vEJxAaYKWQMhvSUyo8lrsMeC10RA&_iepl=">aktuellen
          Veröffentlichung</a> des Teams entnommen werden.
      </p>
      <p>Das Team unterscheidet den Batteriespeichermarkt vereinfacht in:</p>
      <ul>
        <li>Heimspeicher (bis 30 Kilowattstunden)</li>
        <li>Gewerbespeicher (30 bis 1.000 Kilowattstunden)</li>
        <li>Großspeicher (ab 1.000 Kilowattstunden)</li>
      </ul>
      <div class="row">
        <div class="col-xl-12">
          <h2 id="batteriekapazität">Batteriekapazität</h2>
          <p>
            Die Kapazität von Batteriespeichern wird hier in Kilowattstunden (kWh) bzw. Megawattstunden (MWh) angegeben. Damit wird
            die Menge an Energie bezeichnet, die in einer gegebenen Batterie gespeichert werden kann. Aus einem Batteriespeicher
            mit einer Kapazität von 100 kWh kann für 100 Stunden genau 1 kW entnommen werden oder 1 Stunde lang 100 kW insofern der
            Speicher dies unterstützt.
          </p>
          <jhi-chart-card
            [heading]="'Batteriekapazität in Sachsen (Alle Batterietechnologien)'"
            [id]="'batterie-kapazität'"
            [sources]="batterySources"
            [chartData]="chartData.RWTH_AACHEN_BATTERY_CAPACITY.data"
            [chartOptions]="chartData.RWTH_AACHEN_BATTERY_CAPACITY.config"
            [chartType]="'line'"
          >
            <div #description>
              <span class="mt-3">
                Insgesamt sind mittlerweile
                {{ ((chartData.RWTH_AACHEN_BATTERY_POWER.data.datasets[0].data.slice(-1)[0] +
                chartData.RWTH_AACHEN_BATTERY_POWER.data.datasets[1].data.slice(-1)[0] +
                chartData.RWTH_AACHEN_BATTERY_POWER.data.datasets[2].data.slice(-1)[0]) / 1000) | number:'1.1-1': locale }} MW an stationären Batteriespeichern in Sachsen gemeldet.
                Mit
                {{ getXLargestStorageCapacityLabel('RWTH_AACHEN_BATTERY_CAPACITY', 0).value | number:'1.1-1': locale}} MWh
                entfällt dabei der größte Anteil auf die
                {{ getXLargestStorageCapacityLabel('RWTH_AACHEN_BATTERY_CAPACITY', 0).key }}.
                {{ getXLargestStorageCapacityLabel('RWTH_AACHEN_BATTERY_CAPACITY', 1).key }} mit
                {{ getXLargestStorageCapacityLabel('RWTH_AACHEN_BATTERY_CAPACITY', 1).value | number:'1.1-1': locale }} MWh bilden den zweitgrößten Markt vor
                {{ getXLargestStorageCapacityLabel('RWTH_AACHEN_BATTERY_CAPACITY', 2).key }} mit
                {{ getXLargestStorageCapacityLabel('RWTH_AACHEN_BATTERY_CAPACITY', 2).value | number:'1.1-1': locale }} MWh Kapazität.
              </span>
            </div>
          </jhi-chart-card>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <h2 id="batterieleistung">Batterieleistung</h2>
          <p>Die Leistung einer Batterie/Batteriezelle ist die elektrische Energie, die pro Zeiteinheit entnommen wird. Sie wird in Watt (W) angegeben und ist das Produkt aus Entladestrom und Entladespannung. (Quelle:
            <a href="https://de.wikipedia.org/wiki/Batterie_(Elektrotechnik)">Wikipedia</a>)</p>
          <jhi-chart-card
            [heading]="'Batterieleistung in Sachsen (Alle Batterietechnologien)'"
            [id]="'batterie-leistung'"
            [sources]="batterySources"
            [chartData]="chartData.RWTH_AACHEN_BATTERY_POWER.data"
            [chartOptions]="chartData.RWTH_AACHEN_BATTERY_POWER.config"
            [chartType]="'line'"
          >
            <div #description>
              <span class="mt-3">
                Insgesamt sind mittlerweile
                  {{ ((chartData.RWTH_AACHEN_BATTERY_POWER.data.datasets[0].data.slice(-1)[0] +
                       chartData.RWTH_AACHEN_BATTERY_POWER.data.datasets[1].data.slice(-1)[0] +
                       chartData.RWTH_AACHEN_BATTERY_POWER.data.datasets[2].data.slice(-1)[0]) / 1000) | number:'1.1-1': locale }} MW an stationären Batteriespeichern in Sachsen gemeldet.
                Mit
                {{ getXLargestStorageCapacityLabel('RWTH_AACHEN_BATTERY_POWER', 0).value | number:'1.1-1': locale}} MW
                entfällt dabei der größte Anteil auf die
                {{ getXLargestStorageCapacityLabel('RWTH_AACHEN_BATTERY_POWER', 0).key }}.
                {{ getXLargestStorageCapacityLabel('RWTH_AACHEN_BATTERY_POWER', 1).key }} mit
                {{ getXLargestStorageCapacityLabel('RWTH_AACHEN_BATTERY_POWER', 1).value | number:'1.1-1': locale }} MW bilden den zweitgrößten Markt vor
                {{ getXLargestStorageCapacityLabel('RWTH_AACHEN_BATTERY_POWER', 2).key }} mit
                {{ getXLargestStorageCapacityLabel('RWTH_AACHEN_BATTERY_POWER', 2).value | number:'1.1-1': locale }} MW Leistung.
              </span>
            </div>
          </jhi-chart-card>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <h2 id="batteriekapazität-zubau">Zubau an Batteriekapazität</h2>
          <p>Unter dem Zubau an Batteriekapazität versteht man die Summe der Kapazität (siehe <a href="batteriespeicher#batteriekapazität">Batteriekapazität</a>) aller Batterien zu einem bestimmten Zeitpunkt.
            Im folgenden Diagramm werden die Zubauzahlen immer auf einen Monat gruppiert.</p>
          <jhi-chart-card
            [heading]="'Zubau der Batteriekapazität in Sachsen (Alle Batterietechnologien)'"
            [id]="'batterie-kapazität-zubau'"
            [sources]="batterySources"
            [chartData]="chartData.RWTH_AACHEN_BATTERY_CAPACITY_INCREASE.data"
            [chartOptions]="chartData.RWTH_AACHEN_BATTERY_CAPACITY_INCREASE.config"
            [chartType]="'line'"
          >
          </jhi-chart-card>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <h2 id="batterieleistung-zubau">Zubau an Batterieleistung</h2>
          <p>Unter dem Zubau an Batteriekapazität versteht man die Summe der Leistung (siehe <a href="batteriespeicher#batterieleistung">Batterieleistung</a>) aller Batterien zu einem bestimmten Zeitpunkt.
            Im folgenden Diagramm werden die Zubauzahlen immer auf einen Monat gruppiert.</p>
          <jhi-chart-card
            [heading]="'Zubau der Batterieleistung in Sachsen (Alle Batterietechnologien)'"
            [id]="'batterie-leistung-zubau'"
            [sources]="batterySources"
            [chartData]="chartData.RWTH_AACHEN_BATTERY_POWER_INCREASE.data"
            [chartOptions]="chartData.RWTH_AACHEN_BATTERY_POWER_INCREASE.config"
            [chartType]="'line'"
          >
          </jhi-chart-card>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <h2 id="anzahl">Anzahl an Batteriespeichern</h2>
          <p>
            In Sachsen sind mittlerweile {{ ((chartData.RWTH_AACHEN_BATTERY_COUNT.data.datasets[0].data.slice(-1)[0] +
            chartData.RWTH_AACHEN_BATTERY_COUNT.data.datasets[1].data.slice(-1)[0] +
            chartData.RWTH_AACHEN_BATTERY_COUNT.data.datasets[2].data.slice(-1)[0])) | number:'1.0': locale }} Speicher
            im Marktstammdatenregister angemeldet. Die Anzahl verdoppelt sich aktuell ungefähr
            für Großspeicher alle
            {{ getNumberOfMonthsForDoubledGrowth(chartData.RWTH_AACHEN_BATTERY_COUNT.data.datasets[0].data) }} Monate,
            für Gewerbespeicher alle
            {{ getNumberOfMonthsForDoubledGrowth(chartData.RWTH_AACHEN_BATTERY_COUNT.data.datasets[1].data) }} Monate und
            für Heimspeicher alle
            {{ getNumberOfMonthsForDoubledGrowth(chartData.RWTH_AACHEN_BATTERY_COUNT.data.datasets[2].data) }} Monate.
          </p>
          <jhi-chart-card
            [heading]="'Anzahl der Batteriespeicher in Sachsen (Alle Batterietechnologien)'"
            [id]="'batterie-leistung-zubau'"
            [sources]="batterySources"
            [chartData]="chartData.RWTH_AACHEN_BATTERY_COUNT.data"
            [chartOptions]="chartData.RWTH_AACHEN_BATTERY_COUNT.config"
            [chartType]="'line'"
          >
            <div #description>
              <p>
                In Sachsen sind mittlerweile {{ ((chartData.RWTH_AACHEN_BATTERY_COUNT.data.datasets[0].data.slice(-1)[0] +
                chartData.RWTH_AACHEN_BATTERY_COUNT.data.datasets[1].data.slice(-1)[0] +
                chartData.RWTH_AACHEN_BATTERY_COUNT.data.datasets[2].data.slice(-1)[0])) | number:'1.0': locale }} Speicher
                im Marktstammdatenregister angemeldet. Es handelt sich fast ausschließlich um Heimspeicher. Doch auch der
                Bestand an Gewerbespeichern steigt mit rund {{chartData.RWTH_AACHEN_BATTERY_COUNT.data.datasets[1].data.slice(-1)[0]}}
                Registrierungen aktuell exponentiell an, was mit Klick auf die Legende (Heimspeicher anklicken zum Ausblenden) zu sehen ist.
              </p>
            </div>
          </jhi-chart-card>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <h2 id="anteil-zubau-nach-bauart">Anteil des Zubaus nach Art des Speichers</h2>
          <p>
            Sowohl im Heimspeicher-, als auch im Gewerbe- und Großspeichersegment haben sich heute <a href="https://de.wikipedia.org/wiki/Lithium-Ionen-Akkumulator">Lithium-Ionen-Batterien</a> durchgesetzt. Der im Juni 2022 hinzugekommene
            <a href="https://www.ge3000.de/references/solarpark-grossschirma-1">Großspeicher mit 3,4 MWh</a> in Großschirma
            ist im Marktstammdatenregister allerdings als „Sonstige” markiert.
          </p>
          <jhi-chart-card
            [heading]="'Anteil der Batteriekapazität nach Batterietyp in Sachsen'"
            [id]="'batterie-kapazität-zubau-anteil'"
            [sources]="batterySources"
            [chartData]="getRWTHAachenBatteryCapacityPercentageData()"
            [chartOptions]="chartData.RWTH_AACHEN_BATTERY_TYPE.config"
            [chartType]="'bar'"
          >
          </jhi-chart-card>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <h2 id="durchschnittliche-batterieeigenschaften">Durchschnittliche Batterieeigenschaften</h2>
          <p>
            Der nachfolgende Graph betrachte die durchschnittliche Batterieleistung (siehe <a href="batteriespeicher#batterieleistung">Batterieleistung</a>)
            sowie die durchschnittliche Batteriekapazität (siehe <a href="batteriespeicher#batteriekapazität">Batteriekapazität</a>) über die Zeit.
          </p>
          <jhi-chart-card
            [heading]="'⌀ Batteriekapazität und Batterieleistung der Heimspeicher'"
            [id]="'batterie-durschnittliche-leistung-und-kapazität'"
            [sources]="batterySources"
            [chartData]="getRWTHAachenMeanBatteryPowerAndCapacityData()"
            [chartOptions]="chartData.RWTH_AACHEN_BATTERY_MEAN_CAPACITY.config"
            [chartType]="'line'"
          >
          </jhi-chart-card>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <h2 id="geplante-batteriekapazität">Geplante Kapazität</h2>
          <p>Das Marktstammdatenregister beinhaltet teilweise auch geplante Batteriespeicher.</p>
          <jhi-chart-card
            [heading]="'Geplante Batteriespeicherkapazität in Sachsen'"
            [id]="'batterie-geplante-kapazität'"
            [sources]="batterySources"
            [chartData]="getRWTHAachenPlannedCapacityData()"
            [chartOptions]="getMastrChartOptions('RWTH_AACHEN_BATTERY_CAPACITY_PLANNED')"
            [chartType]="'pie'"
          >
            <div #description>
              <p>
                Insgesamt befinden sich derzeit rund
                {{ (getRWTHAachenPlannedCapacityData().datasets[0].data[0] +
                getRWTHAachenPlannedCapacityData().datasets[0].data[1] +
                getRWTHAachenPlannedCapacityData().datasets[0].data[2]) / 1000 | number:'1.1-1':locale }} MWh
                an Batteriespeichern in der Planung. Der Großteil entfällt dabei auf Großspeicher. Dies liegt vor allem daran,
                dass die kleineren Heimspeicher und Gewerbespeicher oftmals erst mit der Installation gemeldet werden.
              </p>
            </div>
          </jhi-chart-card>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <h2 id="methodik">Methodik</h2>
          <p>
            Das <a href="https://battery-charts.rwth-aachen.de/">Battery-Charts-Dashboard</a> visualisiert die Daten des
            Markstammdatenregisters der Bundesnetzagentur. Diese sind unter der Lizenz <a href="https://www.govdata.de/dl-de/by-2-0">dl-de/by-2-0</a> verfügbar.
          </p>
          <p>
            <b>
              Da die Daten des Battery-Charts-Dashboard in diesem Dashboard erneut dargestellt werden, folgt diese auch
              exakt der Methodik, die auf deren Webseite dargelegt wird. Der Vollständigkeit halber ergänze ich Sie noch
              einmal:
            </b>
          </p>
          <div class="alert alert-info" role="alert">
            <p>
              Die Analysen basieren auf eigenen Auswertungen der veröffentlichten Einzelmeldungen, die nach bestem Wissen und Gewissen durchgeführt werden.
            </p>
            <p>
              Die Daten im MaStR werden manuell von Personen eingetragen, weshalb wir gewisse Konsistenzfilter anwenden:
            </p>
            <ul>
              <li>Es werden nur Einträge mit Speicherkapazität, Leistung und definierter Batterietechnologie (inklusive „Sonstige“) betrachtet.</li>
              <li>Die Lade- bzw. Entladedauer unter Volllast (Energie-zu-Leistung-Verhältnis) muss zwischen 6 Minuten und 15 Stunden liegen.</li>
              <li>Großspeicher dürfen nicht von Privatpersonen betrieben werden, da hier oftmals eine Verwechslung von Kilowatt und Watt vorkommt und Privatpersonen teilweise fälschlicherweise angeben, einen Speicher der Megawattklasse im Keller zu haben. Zudem wird der Netzanschluss von Großspeichern an der Niederspannung nur akzeptiert, wenn der Netzbetreiber den Eintrag bereits geprüft hat.</li>
            </ul>
            <p>
              Die Vollständigkeit des MaStR ist bei den Neuinstallationen unserer Einschätzung nach mittlerweile sehr hoch.
              Zwar wurden viele Batteriespeicher nach Betrieb des MaStR nicht nachträglich angemeldet (betrifft
              Installationen vor 2019), aber die Installationen in diesen Jahren waren auch nicht allzu groß. Für die
              Neuinstallationen gehen wir ab 2021 von einer Nichtmeldequote von wenigen Prozent aus.
            </p>
            <p>
              Wir stellen die Batteriespeicher nach Inbetriebnahme-Datum und nicht nach Melde-Datum dar. Dies führt dazu, dass insbesondere die Zahlen für die letzten 2-3 Monate noch etwas steigen, da die Registrierung nicht immer sofort erfolgt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 toc">
    <h5>Auf dieser Seite</h5>
    <hr>
    <div id="on-this-page-menu" class="d-flex flex-column gap-2 on-this-page-menu-scrollspy">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="batteriespeicher#home">Batteriespeicher</a>
          <a class="nav-link" href="batteriespeicher#batteriekapazität">Batteriekapazität</a>
          <a class="nav-link" href="batteriespeicher#batterieleistung">Batterieleistung</a>
          <a class="nav-link" href="batteriespeicher#batteriekapazität-zubau">Zubau an Batteriekapazität</a>
          <a class="nav-link" href="batteriespeicher#batterieleistung-zubau">Zubau an Batterieleistung</a>
          <a class="nav-link" href="batteriespeicher#anzahl">Anzahl an Batteriespeichern</a>
          <a class="nav-link" href="batteriespeicher#anteil-zubau-nach-bauart">Anteil des Zubaus nach Art des Speichers</a>
          <a class="nav-link" href="batteriespeicher#durchschnittliche-batterieeigenschaften">Durchschnittliche Batterieeigenschaften</a>
          <a class="nav-link" href="batteriespeicher#geplante-batteriekapazität">Geplante Kapazität</a>
          <a class="nav-link" href="batteriespeicher#methodik">Methodik</a>
        </nav>
      </nav>
    </div>
  </div>
</div>



