<div class="row">
  <div class="col-xl-9">
    <div data-bs-spy="scroll" data-bs-target="#on-this-page-menu" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div>
        <h1 id="top" class="mt-3"><fa-icon [icon]="'car'"></fa-icon> E-Mobilität</h1>
        <p>
          Elektromobilität ist weltweit der Schlüssel für klimafreundliche Mobilität und Innovation. Der Betrieb von Elektrofahrzeugen erzeugt insbesondere in Verbindung mit regenerativ erzeugtem Strom deutlich weniger CO<sub>2</sub>. Zusätzlich können Elektrofahrzeuge mit ihren Energiespeichern die Schwankungen von Wind- und Sonnenkraft künftig ausgleichen (siehe <a href="https://de.wikipedia.org/wiki/Vehicle_to_Grid">Vehicle-to-Grid</a>) und so den Ausbau und die Marktintegration dieser unsteten Energiequellen unterstützen. (Quelle: <a href="https://www.bmwk.de/Redaktion/DE/Dossier/elektromobilitaet.html">BMWK</a>)
        </p>

        <div class="row">
          <div class="col-xl-6">
            <jhi-card name="Ladepunkte" unit="" [icon]="'charging-station'" [valueNumberFormat]="'1.0'" [backgroundColor]="COLOR_ELECTRICITY"
                      [value]="timeUnitChargingPointsYearData[timeUnitChargingPointsYearData.length - 1]"
                        [diff]="(((timeUnitChargingPointsYearData[timeUnitChargingPointsYearData.length - 1]) * 100) / timeUnitChargingPointsYearData[timeUnitChargingPointsYearData.length - 2]) - 100"></jhi-card>
          </div>
          <div class="col-xl-6">
            <jhi-card name="Ladepunktleistung" unit="kW" [icon]="'plug-circle-bolt'" [backgroundColor]="COLOR_ELECTRICITY"
                      [value]="timeUnitChargingPowerYearData[timeUnitChargingPowerYearData.length - 1]"
                      [diff]="(((timeUnitChargingPowerYearData[timeUnitChargingPowerYearData.length - 1]) * 100) / timeUnitChargingPowerYearData[timeUnitChargingPowerYearData.length - 2]) - 100"></jhi-card>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12">
            <h2 id="zubau-ladepunkte" class="mt-2">Zubau an Ladepunkten</h2>
            <p>
              Ein wichtigen Schritt zur Erreichung der Klimaziele ist daher der Ausbau der Ladeinfrastruktur. Es kommt
              bei den Ladepunkten sowohl auf die Leistung, mit der ein Fahrzeug geladen werden kann, als auch auf deren
              Anzahl. Je mehr Ladepunkte vorhanden sind, desto mehr Fahrzeuge können parallel geladen werden. Je höher
              deren Anschlussleistung, desto schneller sind die einzelnen Ladevorgänge.
            </p>
            <p>
              Die Bundesnetzagentur veröffentlicht einmal pro Monat (letzter Stand: {{ BNETZA_DATA_RELEASE_DATE | date:'mediumDate' }}) alle dort gemeldeten Ladepunkte für Deutschland.
            </p>
            <div class="alert alert-primary" role="alert">
              Die Daten der Bundesnetzagentur beinhalten die Ladeeinrichtungen aller Betreiberinnen und Betreiber, die
              das Anzeigeverfahren der Bundesnetzagentur vollständig abgeschlossen und einer Veröffentlichung im
              Internet zugestimmt haben. Die Zahl der öffentlich zugänglichen Ladeeinrichtungen in Sachsen ist
              daher <strong>größer</strong> als hier dargestellt.
            </div>
            <p>
              Für
              Sachsen ergebt sich daraus für den Zubau an einzelnen Ladepunkten für einen gegeben Zeitraum das folgende
              Diagramm.
            </p>
            <div class="card p-3">
              <div class="row">
                <div class="col-md-10">
                  <h5 class="text-center mt-2">Zubau an Ladepunkten</h5>
                </div>
                <div class="col-md-2">
                  <ng-select [items]="timeUnits" bindLabel="value" bindValue="key" [(ngModel)]="selectedTimeUnit" (change)="bnetzaChargingPointsChartData = getBNetzAChartData('TimeUnitChargingPoints')" [clearable]="false"></ng-select>
                </div>
              </div>
              <canvas baseChart height="400"
                      [data]="bnetzaChargingPointsChartData" [options]="bnetzaChargingPointsChartOptions" [type]="'bar'">
              </canvas>
              <hr>
              <p class="text-end mt-0 mb-0">Quelle: <a href="https://www.bundesnetzagentur.de/SharedDocs/Downloads/DE/Sachgebiete/Energie/Unternehmen_Institutionen/E_Mobilitaet/Ladesaeulenregister.xlsx">Bundesnetzagentur</a></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <h2 id="zubau-ladepunktleistung">Zubau an Ladeleistung</h2>
            <p>
              Neben der reinen Anzahl an Ladepunkten ist auch die Ladeleistung, also wie schnell ein Auto geladen werden
              kann sehr relevant. In {{ yearLabels[yearLabels.length - 1] }} sind insgesamt mindestens {{ timeUnitChargingPowerYearData[timeUnitChargingPowerYearData.length - 1] | number : '1.1-1' }}
              kW an Ladeleistung in Sachsen installiert. Daraus ergibt sich eine mittlere Ladeleistung von {{ timeUnitChargingPowerYearData[timeUnitChargingPowerYearData.length - 1] /
              timeUnitChargingPointsYearData[timeUnitChargingPointsYearData.length - 1] | number : '1.1-1' }} kW pro Ladepunkt.
              Letztes Jahr lag diese mittlere Ladeleistung bei {{ timeUnitChargingPowerYearData[timeUnitChargingPowerYearData.length - 2] /
            timeUnitChargingPointsYearData[timeUnitChargingPointsYearData.length - 2] | number : '1.1-1' }} kW pro Ladepunkt.
            </p>
            <div class="card p-3">
              <div class="row">
                <div class="col-md-10">
                  <h5 class="text-center mt-2">Zubau an Ladeleistung (kW)</h5>
                </div>
                <div class="col-md-2">
                  <ng-select [items]="timeUnits" bindLabel="value" bindValue="key" [(ngModel)]="selectedTimeUnit" (change)="bnetzaChargingPowerChartData = getBNetzAChartData('TimeUnitPowerRating')" [clearable]="false"></ng-select>
                </div>
              </div>
              <canvas baseChart height="400"
                      [data]="bnetzaChargingPowerChartData" [options]="bnetzaChargingPowerChartOptions" [type]="'bar'">
              </canvas>
              <hr>
              <p class="text-end mt-0 mb-0">Quelle: <a href="https://www.bundesnetzagentur.de/SharedDocs/Downloads/DE/Sachgebiete/Energie/Unternehmen_Institutionen/E_Mobilitaet/Ladesaeulenregister.xlsx">Bundesnetzagentur</a></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <p class="mb-0">
              Der Zubau wird aktuell von {{ CHARGING_STATIONS_OPERATORS.length }} Betreibenden vorangetrieben.
              Betreibende haben zur Zeit:
            </p>
            <ul class="mt-2">
              <li>zwischen {{ ((CHARGING_STATIONS_OPERATORS | orderBy : 'Anschlussleistung' : 'asc')[0])["Anschlussleistung"] | number }} kW und
                {{ ((CHARGING_STATIONS_OPERATORS | orderBy : 'Anschlussleistung' : 'desc')[0])['Anschlussleistung'] | number }} kW Anschlussleistung</li>
              <li>zwischen {{ ((CHARGING_STATIONS_OPERATORS | orderBy : 'Anzahl Ladepunkte' : 'asc')[0])["Anzahl Ladepunkte"] }} und
                {{ ((CHARGING_STATIONS_OPERATORS | orderBy : 'Anzahl Ladepunkte' : 'desc')[0])['Anzahl Ladepunkte'] }} Ladepunkte und</li>
              <li>zwischen {{ ((CHARGING_STATIONS_OPERATORS | orderBy : 'Durchschnittliche Ladeleistung' : 'asc')[0])["Durchschnittliche Ladeleistung"] | number }} kW und
                {{ ((CHARGING_STATIONS_OPERATORS | orderBy : 'Durchschnittliche Ladeleistung' : 'desc')[0])['Durchschnittliche Ladeleistung'] | number }} kW durchschnittlicher Anschlussleistung</li>
            </ul>
            <p>Im laufenden Jahr bewegen sich die Werte zwischen</p>
            <ul>
              <li>zwischen {{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR | orderBy : 'Anschlussleistung' : 'asc')[0])["Anschlussleistung"] | number }} kW und
                {{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR | orderBy : 'Anschlussleistung' : 'desc')[0])['Anschlussleistung'] | number }} kW Anschlussleistung ({{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR | orderBy : 'Anschlussleistung' : 'desc')[0])['name'] }})</li>
              <li>zwischen {{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR | orderBy : 'Anzahl Ladepunkte' : 'asc')[0])["Anzahl Ladepunkte"] }} und
                {{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR | orderBy : 'Anzahl Ladepunkte' : 'desc')[0])['Anzahl Ladepunkte'] }} Ladepunkte ({{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR | orderBy : 'Anzahl Ladepunkte' : 'desc')[0])['name'] }}) und</li>
              <li>zwischen {{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR | orderBy : 'Durchschnittliche Ladeleistung' : 'asc')[0])["Durchschnittliche Ladeleistung"] | number }} kW und
                {{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR | orderBy : 'Durchschnittliche Ladeleistung' : 'desc')[0])['Durchschnittliche Ladeleistung'] | number }} kW durchschnittlicher Anschlussleistung ({{ ((CHARGING_STATIONS_OPERATORS_CURRENT_YEAR | orderBy : 'Durchschnittliche Ladeleistung' : 'desc')[0])['name'] }}).</li>
            </ul>
            <p>
              Eine genaue
              Aufschlüsselung der jeweiligen Ladeleistung und der Anzahl der Ladepunkte der einzelnen Betreibenden liefert
              die folgende Tabelle.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <h5 id="betreiber" class="card-title text-center mt-2 mb-4">
                  Anschlussleistung und Anzahl an Ladepunkten pro Betreiber
                </h5>
                <p-table [value]="CHARGING_STATIONS_OPERATORS" [paginator]="true" [rows]="10" [showCurrentPageReport]="false"
                         styleClass="p-datatable-sm" sortField="Anschlussleistung" [sortOrder]="-1">
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                      <th pSortableColumn="Anschlussleistung">Anschlussleistung (kW)<p-sortIcon field="Anschlussleistung"></p-sortIcon></th>
                      <th pSortableColumn="Anzahl Ladepunkte">Anzahl Ladepunkte <p-sortIcon field="Anzahl Ladepunkte"></p-sortIcon></th>
                      <th pSortableColumn="Durchschnittliche Ladeleistung">Ø Ladeleistung <p-sortIcon field="Durchschnittliche Ladeleistung"></p-sortIcon></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-operator>
                    <tr>
                      <td>{{operator.name}}</td>
                      <td>{{operator.Anschlussleistung | number }}</td>
                      <td>{{operator['Anzahl Ladepunkte'] | number }}</td>
                      <td>{{operator['Durchschnittliche Ladeleistung'] | number : '1.1-1' }}</td>
                    </tr>
                  </ng-template>
                </p-table>
                <p class="text-end mt-3 mb-0">
                  Quelle: <a href="https://www.bundesnetzagentur.de/SharedDocs/Downloads/DE/Sachgebiete/Energie/Unternehmen_Institutionen/E_Mobilitaet/Ladesaeulenregister.xlsx">Bundesnetzagentur</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <h2 id="kreise-und-kreisfreie-städte" class="mt-2">Kreise und kreisfreie Städte</h2>
            <p class="mb-0">Die Daten der Bundesnetzagentur lassen sich nicht nur nach Jahresscheiben gruppen, sondern auch nach
            Kreisen und kreisfreien Städten. So kann man, übrigens auch auf die Bevölkerungszahl normiert („pro Kopf”-Button), direkt sehen,
              welche Gebietskörperschaften am schnellsten mit dem Ausbau der E-Lademobilität vorankommen bzw. die größte Ladeleistung anbieten.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <h5 id="kreise-und-kreisfreie-städte-ladeleistung" class="card-title text-center mt-2">
                  Aktuelle Ladeleistung (kW) der Kreise und kreisfreien Städte
                </h5>
                <jhi-saxony-map [statistic]="'Anschlussleistung'" [districts]="districts" [showValues]="true" [normalizeByPopulation]="false" [showTable]="false"></jhi-saxony-map>
                <hr>
                <p class="text-end mt-0 mb-0">Quelle: <a href="https://www.bundesnetzagentur.de/SharedDocs/Downloads/DE/Sachgebiete/Energie/Unternehmen_Institutionen/E_Mobilitaet/Ladesaeulenregister.xlsx">Bundesnetzagentur</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <p class="mb-0">Die gleiche Visualisierung ist selbstverständlich auch für die Anzahl an Ladepunkten (bzw. wieder
            normiert nach der Einwohnendenzahl, siehe „pro Kopf”-Button) verfügbar.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <h5 id="kreise-und-kreisfreie-städte-ladepunkte" class="card-title text-center mt-2">
                  Anzahl der Ladepunkte der Kreise und kreisfreien Städte
                </h5>
                <jhi-saxony-map [statistic]="'Anzahl Ladepunkte'" [districts]="districts" [showValues]="true" [normalizeByPopulation]="false" [showTable]="false" [digitsInfo]="'1.0'"></jhi-saxony-map>
                <hr>
                <p class="text-end mt-0 mb-0">Quelle: <a href="https://www.bundesnetzagentur.de/SharedDocs/Downloads/DE/Sachgebiete/Energie/Unternehmen_Institutionen/E_Mobilitaet/Ladesaeulenregister.xlsx">Bundesnetzagentur</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12" id="kraftfahrtbundesamt">
            <h2>Analyse der Daten des Kraftfahrtbundesamtes</h2>
            <p>
              Die <a href="https://www.rwth-aachen.de/cms/~a/root/">RWTH Aachen</a> hat eine automatisierte Auswertung
              der Fahrzeugzulassungen des Kraftfahrtbundesamtes vorgenommen und als
              <a href="https://mobility-charts.rwth-aachen.de/">Mobility Charts</a>-Dashboard veröffentlicht. Dazu werden
              fortlaufend aktuelle Verkaufszahlen analysiert und daraus wichtige Kenngrößen wie Anzahl, Batteriekapazität
              und Anschlüsse der aktuellen Fahrzeugflotte schätzt.
            </p>
            <p>
              Das Dasboard, entwickelt von <a href="https://www.linkedin.com/in/jan-figgener-23546b111/">Jan Figgener</a>, Kai Gerd Spreuer,
              <a href="https://www.linkedin.com/in/christopher--hecht/">Christopher Hecht</a> und <a href="https://www.linkedin.com/in/dirk-uwe-sauer-6baa51205/">Prof. Dirk Uwe Sauer</a> des
              <a href="https://www.isea.rwth-aachen.de/cms/~ojnv/ISEA/">Instituts für Stromrichtertechnik und Elektrische Antriebe
                (ISEA)</a> enthält ebenfalls eine Auswertung auf Bundeslandebene. Das Projektteam hat mir erlaubt, diese Daten
              auch in mein Dashboard zu integrieren. Vielen dank dafür an das gesamte Team! <fa-icon icon="heart" [styles]="{ color : 'red' }"></fa-icon>
              Eine detaillierte Marktanalyse kann der <a href="https://www.mdpi.com/2624-8921/4/4/49">aktuellen
                Veröffentlichung</a> „Market Review and Technical Properties of Electric Vehicles
              in Germany” des Teams entnommen werden.
            </p>
            <p>
              Eine detaillierte Beschreibung zur Vorgehensweise der Analyse kann auf der
              <a href="https://mobility-charts.rwth-aachen.de/?page_id=165">Projektseite</a> der Mobility Charts nachgelesen
              werden.
            </p>
          </div>
          <div class="col-xl-12">
            <h3 id="batterieelektrische-vs-plugin-hybride">Batterieelektrische Fahrzeugen & Plug-In-Hybride</h3>
            <p>
              Die Grafik zeigt die Bestandszahlen der letzten Jahre nach Art der PKW. Das Verhältnis von batterieelektrischen
              Fahrzeugen zu Plug-In-Hybride ist von <span class="badge text-bg-primary">
              1:{{
                chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data.length - 2] /
                chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data.length - 2] | number : '1.1-1'
              }}</span> in {{ yearLabels[yearLabels.length - 2] }}
              auf <span class="badge text-bg-primary">
              1:{{
                chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data.length - 1] /
                chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data.length - 1] | number : '1.1-1'
              }}</span>
              in {{ yearLabels[yearLabels.length - 1] }}
              {{
                (
                  chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data.length - 1] /
                  chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data.length - 1]
                )
                -
                (
                  chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[0].data.length - 2] /
                  chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data[chartData.MOBILITY_CHARTS_CAR_TYPE.data.datasets[1].data.length - 2]
                ) > 0 ? "gestiegen" : "gesunken"
              }}.
            </p>
            <div class="card p-3" id="kraftfahrtbundesamt-batterieelektrische-vs-plugin-hybride">
              <div class="row">
                <h5 class="text-center mt-2">Batterieelektrische Fahrzeugen & Plug-In-Hybride</h5>
              </div>
              <canvas baseChart height="400"
                      [data]="chartData.MOBILITY_CHARTS_CAR_TYPE.data"
                      [options]="chartData.MOBILITY_CHARTS_CAR_TYPE.config" [type]="'line'"></canvas>
              <hr>
              <p class="text-end mt-0 mb-0">Quelle: <a href="https://www.bundesnetzagentur.de/SharedDocs/Downloads/DE/Sachgebiete/Energie/Unternehmen_Institutionen/E_Mobilitaet/Ladesaeulenregister.xlsx">Bundesnetzagentur</a></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <h2 id="methodik" class="mt-2">Methodik</h2>
            <div class="alert alert-primary" role="alert">
              Die Daten der Bundesnetzagentur beinhalten die Ladeeinrichtungen aller Betreiberinnen und Betreiber, die
              das Anzeigeverfahren der Bundesnetzagentur vollständig abgeschlossen und einer Veröffentlichung im
              Internet zugestimmt haben. Die Zahl der öffentlich zugänglichen Ladeeinrichtungen in Deutschland ist
              daher <strong>größer</strong> als hier dargestellt.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 toc">
    <h5>Auf dieser Seite</h5>
    <hr>
    <div id="on-this-page-menu" class="d-flex flex-column gap-2 on-this-page-menu-scrollspy">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="e-mobilität#top">Einleitung</a>
          <a class="nav-link" href="e-mobilität#zubau-ladepunkte">Zubau an Ladepunkten</a>
          <a class="nav-link" href="e-mobilität#zubau-ladepunktleistung">Leistung der Ladepunkte</a>
          <a class="nav-link" href="e-mobilität#betreiber">Betreibende</a>
          <a class="nav-link" href="e-mobilität#kreise-und-kreisfreie-städte">Kreise und kreisfreie Städte</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="e-mobilität#kreise-und-kreisfreie-städte-ladeleistung">Ladeleistung</a>
            <a class="nav-link ms-3 my-1" href="e-mobilität#kreise-und-kreisfreie-städte-ladepunkte">Ladepunkte</a>
          </nav>
          <a class="nav-link" href="e-mobilität#kraftfahrtbundesamt">Kraftfahrtbundesamt</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="e-mobilität#kraftfahrtbundesamt-batterieelektrische-vs-plugin-hybride">Antriebsart</a>
          </nav>
          <a class="nav-link" href="e-mobilität#methodik">Methodik</a>
        </nav>
      </nav>
    </div>
  </div>
</div>



