<div class="footer m-4 p-4">
  <p class="text-center">
    Die Klimadashboard-App für Sachsen ermöglicht es allen die es wissen wollen, wie der aktuelle Stand in Sachsen
    innerhalb der Energie-, Mobilitäts- und Ernährungswende ist.
  </p>
  <p class="text-center">
    Die Klimadashboard-App wird als <a href="https://gitlab.com/gerbsen/climate-dashboard-sachsen">Hobbyprojekt entwickelt</a>.
    Es wird kein Anspruch auf Richtigkeit der Daten erhoben, wenn gleich doch alles unternommen wird um Quellen anzugeben
    und Berechnungen korrekt durchzuführen. Die App wurde mittels und als <a href="https://fsfe.org/freesoftware/freesoftware.de.html">Freie Software</a>
    entwickelt und kann von jedem/r verwendet, verbreitet, verstanden und verbessert werden.
  </p>
</div>
