<div class="row">
  <div class="col-xl-9">
    <div data-bs-spy="scroll" data-bs-target="#on-this-page-menu" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div>
        <h1 id="einfuehrung" class="mt-3"><fa-icon [icon]="'fire'"></fa-icon> Treibhausgase</h1>
        <p>
          Treibhausgase sind Gase, die zum Treibhauseffekt beitragen und sowohl natürlichen als auch anthropogenen Ursprungs sein können. Das sächsische Landesamt für Umwelt, Landwirtschaft und Geologie (LfULG) führt seit 1990 ein Emissionskataster für die größten CO<sub>2</sub>-Emmissionen. Die in Sachsen seit 1990 ausgestoßenen Treibhausgase werden im folgenden Diagramm in Millionen Tonnen CO<sub>2</sub>-Äquivalent dargestellt.
        </p>
        <div class="card p-3">
          <h5 id="emissionen-pro-jahr" class="text-center">Treibhausgasemissionen in Millionen Tonnen CO2-Äquivalent pro Jahr</h5>
          <canvas baseChart height="400" [data]="getChartData()" [options]="getChartOptions('sachsen')" [type]="'bar'">
          </canvas>
          <hr>
          <p class="text-end mt-0 mb-0">Quelle: <a href="https://www.luft.sachsen.de/download/luft/Fachbeitrag_Emissionsentwicklung_2020.pdf">LfULG, Emissionskataster</a></p>
        </div>
        <p>
          Die Treibhausgase, die zum Beispiel durch die Braunkohleverstromung oder die Verbrennung von Benzin und Diesel in unseren Fahrzeugen erzeugt werden, sammeln sich in der Atmosphäre. Dort bilden sie den Grund für den sogenannten <a href="https://www.umweltbundesamt.de/themen/klima-energie/klimawandel/klima-treibhauseffekt#grundlagen">Treibhauseffekt</a>.
        </p>
        <div class="card p-3">
          <h5 id="co2-in-atmosphaere" class="text-center">CO<sub>2</sub>-Konzentration in der Atmosphäre</h5>
          <canvas baseChart height="400" [data]="getCo2InAtmosphereData()" [options]="getChartOptions('atmosphere')" [type]="'line'">
          </canvas>
          <hr>
          <p class="text-end mt-0 mb-0">Quelle: <a href="https://www.umweltbundesamt.de/sites/default/files/medien/384/bilder/dateien/2-4_abb_langzeitreihen-konz_2022-05-23.xlsx">Statistisches Bundesamt</a></p>
        </div>
        <p>
          Der jahreszeitliche Zyklus von Hochs und Tiefs (kleine Spitzen und Täler) wird durch das Wachstum der Vegetation der nördlichen Hemisphäre im Sommer und ihrem Zerfall im Winter bestimmt. Die Daten aus dem obigen Graphen wurden im <a href="https://gml.noaa.gov/obop/mlo/">Mauna Loa Observatory</a> auf Hawaii seit 1958 erhoben. Die Lage des Observatoriums ist dafür besonders gut geeignet, da dort lokale Einflüsse der Vegetation oder des Menschen die Luft in der Umgebung kaum beeinträchtigen.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 toc">
    <h5>Auf dieser Seite</h5>
    <hr>
    <div id="on-this-page-menu" class="d-flex flex-column gap-2 on-this-page-menu-scrollspy">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="treibhausgase#einfuehrung">Einführung</a>
          <a class="nav-link" href="treibhausgase#emissionen-pro-jahr">Emissionen pro Jahr</a>
          <a class="nav-link" href="treibhausgase#co2-in-atmosphaere">CO<sub>2</sub>-Konzentration in Atmosphäre</a>
        </nav>
      </nav>
    </div>
  </div>
</div>



