<div class="row">
  <div class="col-xl-9">
    <div data-bs-spy="scroll" data-bs-target="#on-this-page-menu" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div>
        <h1 id="wasserhaushalt"><fa-icon [icon]="'water'"></fa-icon> Wasserhaushalt</h1>
        <p>
          Am 12.12.2022 <a href="https://www.wasser.sachsen.de/grundwasserstaende.html">berichtete das sächsische Ministerium für Energie, Klima, Umwelt und Landwirtschaft</a>, dass ca. 86% der ausgewerteten 200 Messstellen den monatstypischen Grundwasserstand um durchschnittlich 47cm (Medianwert) unterschreiten. Zum Vergleich unterschritten im Vorjahr 67 Prozent der ausgewerteten Messstellen den monatstypischen Grundwasserstand um durchschnittlich 33 cm (Medianwert). Die Auswirkungen des Klimawandels auf das Wasserdargebot werden also größer.
        </p>
        <h2 class="mt-3" id="ufz-duerremonitor">UFZ Dürremonitor</h2>
        <p>
          Der UFZ-Dürremonitor, entwickelt unter der Leitung von <a href="https://www.ufz.de/index.php?de=38071">Dr. Andreas Marx</a> vom UFZ, liefert täglich flächendeckende Informationen zum Bodenfeuchtezustand in Deutschland. Die wissenschaftliche Basis des UFZ-Dürremonitors ist das hydrologische Modellsystem mHM (<a href="https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2008WR007327">Samaniego et al. 2010</a>,
          <a href="https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2012WR012195">Kumar et al. 2013</a>), das ebenfalls am UFZ entwickelt wurde. Wer sich für die Details der Berechnung interessiert, findet unter „Die Wissenschaft hinter dem UFZ-Dürremonitor” auf der
          <a href="https://www.ufz.de/index.php?de=37937">Projektseite des Dürremonitors</a> ausführliche Erklärungen.
        </p>
        <div class="card p-3">
          <h5 id="ufz-gesamtboden" class="text-center">Dürremonitor - Gesamtboden ca. 1,8m</h5>
          <hr class="mt-0">
          <p>Die Karte zeigt den Dürreindex SMI (soil moisture index) des Gesamtbodens bis ca. 1,8m Tiefe an.</p>
          <div class="row mb-3">
            <div class="col-md-4">
              <p><b>Datum auswählen</b></p>
              <ng-select [items]="possibleDatesGesamtboden"
                         [(ngModel)]="selectedDateGesamtboden"
                         (ngModelChange)="SMI_GESAMTBODEN.layers = [getGeoJSON(selectedDateGesamtboden, 'GESAMTBODEN')]">
              </ng-select>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
              <p><b>SMI des ausgewählter Rasterpunkts</b></p>
              <p>
                {{ SMI_GESAMTBODEN.CURRENT_SMI | number : '1.1-3' }}
              </p>
            </div>
          </div>
          <div leaflet style="height: 500px;"
               [leafletOptions]="SMI_GESAMTBODEN.options"
               [leafletLayers]="SMI_GESAMTBODEN.layers"
               [leafletBaseLayers]="SMI_GESAMTBODEN.layersControl.baseLayers"
               (leafletMapReady)="onMapReady($event)">
          </div>
          <hr>
          <p class="text-end mt-0 mb-0">Quelle: <a href="{{ source.url }}">{{ source.label }}</a></p>
        </div>
        <div class="card p-3">
          <h5 id="ufz-oberboden" class="text-center">Dürremonitor - Oberboden bis 25cm</h5>
          <hr class="mt-0">
          <p>Die Karte zeigt den Dürreindex SMI (soil moisture index) des Oberboden, welcher schneller auf kurzfristige Niederschlagsereignisse reagiert, bis ca. 25cm Tiefe an.</p>
          <div class="row mb-3">
            <div class="col-md-4">
              <p><b>Datum auswählen</b></p>
              <ng-select [items]="possibleDatesOberboden"
                         [(ngModel)]="selectedDateOberboden"
                         (ngModelChange)="SMI_OBERBODEN.layers = [getGeoJSON(selectedDateOberboden, 'OBERBODEN')]">
              </ng-select>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
              <p><b>SMI des ausgewählter Rasterpunkts</b></p>
              <p>
                {{ SMI_OBERBODEN.CURRENT_SMI | number : '1.1-3' }}
              </p>
            </div>
          </div>
          <div leaflet style="height: 500px;"
               [leafletOptions]="SMI_OBERBODEN.options"
               [leafletLayers]="SMI_OBERBODEN.layers"
               [leafletBaseLayers]="SMI_OBERBODEN.layersControl.baseLayers"
               (leafletMapReady)="onMapReady($event)">
          </div>
          <hr>
          <p class="text-end mt-0 mb-0">Quelle: <a href="{{ source.url }}">{{ source.label }}</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 toc">
    <h5>Auf dieser Seite</h5>
    <hr>
    <div id="on-this-page-menu" class="d-flex flex-column gap-2 on-this-page-menu-scrollspy">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4">
        <nav class="nav nav-pills flex-column">

          <a class="nav-link" href="wasserhaushalt#ufz-duerremonitor">UFZ Dürremonitor</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="wasserhaushalt#ufz-gesamtboden">Gesamtboden</a>
            <a class="nav-link ms-3 my-1" href="wasserhaushalt#ufz-oberboden">Oberboden</a>
          </nav>
        </nav>
      </nav>
    </div>
  </div>
</div>
