<div class="row">
  <div class="col-xl-9">
    <div data-bs-spy="scroll" data-bs-target="#on-this-page-menu" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div>
        <h1 id="top" class="mt-3"><fa-icon [icon]="'tree-city'"></fa-icon> Kommunen</h1>
        <p class="mt-2">
          Der Vergleich der Fortschritte bei der Inbetriebnahme von Anlagen für Erneuerbare Energien zwischen Kommunen ist wichtig, weil er den Erfolg und die Effektivität im Kontext verschiedener Bedingungen aufzeigt. Durch den Vergleich können erfolgreiche Ansätze schnell identifiziert und auf andere Gemeinden übertragen werden. Kommunen sollten von den Erfahrungen anderer lernen und ihre Strategien und Maßnahmen entsprechend anpassen, um ihre eigenen Ziele zu erreichen.
        </p>
        <p>Inspiriert wurde diese Auswertung vom <a href="https://wattbewerb.de">Wattbewerb</a>. Wattbewerb ist ein Wettbewerb für Städte und Gemeinden in Deutschland, bei dem es um den beschleunigten Ausbau von Photovoltaik geht. Ziel des Wattbewerbs ist es, die Energiewende in Deutschland durch exponentiellen Ausbau von Photovoltaik zu beschleunigen.</p>
        <h2 id="photovoltaik">Photovoltaik: Zubau und Bestand in Sachsen</h2>
        <p>Mit Photovoltaik kann so kostengünstig Strom produziert werden, wie mit keiner anderen Technologie. Sie bildet
        damit einen wichtigen Pfeiler der Energiewende. Wie der aktuelle Einsatz von Photovoltaikanlagen jeder Größe in
          Sachsen insgesamt und der Zubau dieses Jahr im Speziellen aussieht, sehen Sie in der folgenden Tabelle:</p>
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <h5 class="card-title mt-2 mb-4">
                      Photovoltaik in Sachsens Gemeinden
                    </h5>

                  </div>
                  <div class="col-md-4">
                    <ng-select [items]="communitySizes" [(ngModel)]="selectedCommunitySizeForSun" (change)="filterPhotovoltaik()" [clearable]="false"></ng-select>
                  </div>
                </div>
                <p-table #sunTable [value]="MASTR_COMMUNITIES_SUN"
                         [scrollable]="true" scrollHeight="400px"
                         [globalFilterFields]="['name']"
                         styleClass="p-datatable-sm" sortField="BruttoleistungTotalPerInhabitants" [sortOrder]="-1">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>#</th>
                      <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                      <th pSortableColumn="inhabitants_2022_09_30">Einwohnende<p-sortIcon field="inhabitants_2022_09_30"></p-sortIcon></th>
                      <th pSortableColumn="BruttoleistungTotal">Bruttoleistung kW<p-sortIcon field="BruttoleistungTotal"></p-sortIcon></th>
                      <th pSortableColumn="BruttoleistungTotalPerInhabitants">kW / Einw. <p-sortIcon field="BruttoleistungTotalPerInhabitants"></p-sortIcon></th>
                      <th pSortableColumn="BruttoleistungTotalBruttoleistungThisYearPerInhabitants">Zubau kW / Einw. {{ currentDate | date : 'yyyy' }}<p-sortIcon field="BruttoleistungTotalBruttoleistungThisYearPerInhabitants"></p-sortIcon></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-community let-i="rowIndex">
                    <tr>
                      <td>{{ getRank(sunTable, 'sunTable', community) }}</td>
                      <td>{{community.name}}</td>
                      <td>{{community.inhabitants_2022_09_30 | number }}</td>
                      <td>{{community.BruttoleistungTotal | number }}</td>
                      <td>{{community.BruttoleistungTotalPerInhabitants | number }}</td>
                      <td>{{community.BruttoleistungTotalBruttoleistungThisYearPerInhabitants | number }}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="caption">
                    <div class="input-group input-group">
                      <span class="input-group-text" id="inputGroup-sizing-sun">
                        <fa-icon [icon]="'search'"></fa-icon>
                      </span>
                      <input type="text" class="form-control" aria-label="Gemeindesuche" aria-describedby="inputGroup-sizing"
                             (input)="applyFilterGlobal(sunTable, $event,'contains')" placeholder="Gemeinde suchen">
                    </div>
                  </ng-template>
                </p-table>
                <div class="alert alert-secondary mt-4" role="alert">
                  Die Spalte „#” zeigt den Rang der Gemeinde im Vergleich zu allen anderen für die jeweils ausgewählte Spalte an.
                </div>
                <hr>
                <p class="text-end mt-3 mb-0">
                  Quelle: <a href="{{MASTR_COMMUNITIES_SUN_ALL.source.url}}">{{MASTR_COMMUNITIES_SUN_ALL.source.label}}</a> (letztes Update: {{ MASTR_COMMUNITIES_SUN_ALL.source.lastModified | date : 'shortDate' }})
                </p>
              </div>
            </div>
          </div>
        </div>
        <h2 id="stromspeicher">Batteriespeicher: Zubau und Bestand in Sachsen</h2>
        <p>
          Batteriespeicher können überschüssigem Solarstrom speichern. Sie senken damit die Abhängigkeit von traditionellen
          Stromversorgungsquellen und fördern den Einsatz erneuerbarer Energien. Wie der aktuelle Einsatz von Speichern in
          Sachsen insgesamt und der Zubau dieses Jahr im Speziellen aussieht, sehen Sie in der folgenden Tabelle:
        </p>
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <h5 class="card-title mt-2 mb-4">
                      Stromspeicher in Sachsens Gemeinden
                    </h5>
                  </div>
                  <div class="col-md-4">
                    <ng-select [items]="communitySizes" [(ngModel)]="selectedCommunitySizeStorage" (change)="filterStorage()" [clearable]="false"></ng-select>
                  </div>
                </div>
                <p-table #storageTable [value]="MASTR_COMMUNITIES_STORAGE"
                         [scrollable]="true" scrollHeight="400px"
                         [globalFilterFields]="['name']"
                         styleClass="p-datatable-sm" sortField="BruttoleistungTotalPerInhabitants" [sortOrder]="-1">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>#</th>
                      <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                      <th pSortableColumn="inhabitants_2022_09_30">
                        Einwohnende<p-sortIcon field="inhabitants_2022_09_30"></p-sortIcon>
                      </th>
                      <th pSortableColumn="BruttoleistungTotal">Bruttoleistung kW<p-sortIcon field="BruttoleistungTotal"></p-sortIcon></th>
                      <th pSortableColumn="BruttoleistungTotalPerInhabitants">kW / Einw. <p-sortIcon field="BruttoleistungTotalPerInhabitants"></p-sortIcon></th>
                      <th pSortableColumn="BruttoleistungTotalBruttoleistungThisYearPerInhabitants">Zubau kW / Einw.   {{ currentDate | date : 'yyyy' }}<p-sortIcon field="BruttoleistungTotalBruttoleistungThisYearPerInhabitants"></p-sortIcon></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-community let-i="rowIndex">
                    <tr>
                      <td>{{ getRank(storageTable, 'storageTable', community) }}</td>
                      <td>{{community.name}}</td>
                      <td>{{community.inhabitants_2022_09_30 | number }}</td>
                      <td>{{community.BruttoleistungTotal | number }}</td>
                      <td>{{community.BruttoleistungTotalPerInhabitants | number }}</td>
                      <td>{{community.BruttoleistungTotalBruttoleistungThisYearPerInhabitants | number }}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="caption">
                    <div class="input-group input-group">
                      <span class="input-group-text" id="inputGroup-sizing-storage">
                        <fa-icon [icon]="'search'"></fa-icon>
                      </span>
                      <input type="text" class="form-control" aria-label="Gemeindesuche" aria-describedby="inputGroup-sizing"
                             (input)="applyFilterGlobal(storageTable, $event, 'contains')" placeholder="Gemeinde suchen">
                    </div>
                  </ng-template>
                </p-table>
                <div class="alert alert-secondary mt-4" role="alert">
                  Die Spalte „#” zeigt den Rang der Gemeinde im Vergleich zu allen anderen für die jeweils ausgewählte Spalte an.
                </div>
                <hr>
                <p class="text-end mt-3 mb-0">
                  Quelle: <a href="{{MASTR_COMMUNITIES_STORAGE_ALL.source.url}}">{{MASTR_COMMUNITIES_STORAGE_ALL.source.label}}</a> (letztes Update: {{ MASTR_COMMUNITIES_STORAGE_ALL.source.lastModified | date : 'shortDate' }})
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 toc">
    <h5>Auf dieser Seite</h5>
    <hr>
    <div id="on-this-page-menu" class="d-flex flex-column gap-2 on-this-page-menu-scrollspy">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="kommunen#top">Kommunen</a>
        </nav>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="kommunen#photovoltaik">Solare Energie</a>
          <a class="nav-link ms-3 my-1" href="kommunen#stromspeicher">Speicher</a>
        </nav>
      </nav>
    </div>
  </div>
</div>



