<div class="row">

  <div class="col-xl-{{ showTable ? '7' : '12' }} mt-3">
    <canvas id="{{mapDivId}}"></canvas>
  </div>
  <div class="col-xl-5" *ngIf="showTable">
    <table class="table table-sm table-striped">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="sort()">
          <th>#</th>
          <th scope="col" jhiSortBy="name">Landkreis <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="value">Wert <fa-icon icon="sort"></fa-icon></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let area of data; trackBy: trackIdentity; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            {{ area.feature.properties.name.replace("-Osterzgebirge", "") }}
          </td>
          <td>{{ area.value | number : digitsInfo }} {{ area.district!.statistics![statistic]!.unit! }}{{ normalizeByPopulation ? " p.P." : ""}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xl-3"></div>
  <div class="col-xl-3">
    <div class="form-check form-switch float-end">
      <input class="form-check-input" [(ngModel)]="normalizeByPopulation" (change)="draw()" type="checkbox" role="switch" id="flexSwitchPerCapita">
      <label class="form-check-label" for="flexSwitchPerCapita">pro Kopf</label>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="form-check form-switch text-center">
      <input class="form-check-input" [(ngModel)]="showValues" (change)="draw()" type="checkbox" role="switch" id="flexSwitchShowValues">
      <label class="form-check-label" for="flexSwitchShowValues">Werte anzeigen</label>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="form-check form-switch">
      <input class="form-check-input" [(ngModel)]="showTable" type="checkbox" role="switch" id="flexSwitchShowTable">
      <label class="form-check-label" for="flexSwitchShowTable">Tabelle anzeigen</label>
    </div>
  </div>
</div>
