<div class="row">
  <div class="col-xl-12">
    <img class="img-fluid" src="content/images/stripes_EUROPE-Germany-Sachsen-1881-2021-DW.png">
    <h1 id="h1-1" class="mt-3">Klimadashboard Sachsen</h1>
      Das Projekt „Klimadashboard Sachsen” möchte den Fortschritt der Energie-, Verkehrs- und Landwirtschaftswende
      dokumentieren. Dazu werden Daten aus verschiedenen Quellen und Sektoren zusammengetragen und mittels moderner
      Webtechnologien anschaulich und transparent dargestellt. An dem Projekt kann sich jede und jeder beteiligen.
      Falls du darauf Lust hast oder eine interessant Statistik kennst, die du gern veröffentlichen möchtest, melde
      dich einfach per <a href="mailto:team@danielgerber.eu?subject=Klimadashboard">Email</a>.
  </div>
  <div class="col-xl-12 mt-4">
    <h2>Wie kann man mitmachen?</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="content/images/help-data.jpg" class="card-img-top img-thumbnail" alt="Ein Bild, das Statistiken auf einem Blatt Papier, einen Laptop und Stifte zeigt.">
            <h5 class="card-title mt-3">Du hast Daten?</h5>
            <p class="card-text">Du hast Daten in (un)strukturiertem Format für Sachsen und möchtest diese gern darstellen lassen? Dann schick sie uns per Mail.</p>
            <a href="mailto:team@danielgerber.eu?subject=Klimadashboard - Daten" class="btn btn-secondary">Daten bereitstellen</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="content/images/help-code.jpg" class="card-img-top img-thumbnail" alt="Ein Bild, das Quellcode zeigt.">
            <h5 class="card-title mt-3">Du kannst programmieren?</h5>
            <p class="card-text">Am besten legst du auf Gitlab ein Issue an. Selbstverständlich sind Merge Requests jederzeit willkommen.</p>
            <a href="https://gitlab.com/gerbsen/climate-dashboard-sachsen/-/issues/new" class="btn btn-secondary">Issue anlegen</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="content/images/help-statistic.jpg" class="card-img-top img-thumbnail" alt="Ein Bild, das Quellcode zeigt.">
            <h5 class="card-title mt-3">Dir fehlt eine Auswertung?</h5>
            <p class="card-text">Du bist der Meinung es fehlt noch diese oder jene Auswertung. Dann schreib einfach eine Mail.</p>
            <a href="mailto:team@danielgerber.eu?subject=Klimadashboard - Verbesserung" class="btn btn-secondary">Idee emailen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12 mt-4">
    <h2>Quellen</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="content/images/smekul.jpg" class="card-img-top img-thumbnail" alt="Das ">
            <h5 class="card-title mt-3">Energiedaten 2019</h5>
            <p class="card-text">Auf Grundlage der Energiebilanz von Energieträgern in Sachsen werden Energiedaten über
              die Energieversorgung des Freistaat Sachsen jährlich veröffentlicht.</p>
            <a href="https://www.energie.sachsen.de/zahlen-und-fakten-3971.html" target="_blank" class="btn btn-secondary">Webseite</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="content/images/mastr.jpg" class="card-img-top img-thumbnail" alt="Das ">
            <h5 class="card-title mt-3">Markstammdatenregister (MaStR)</h5>
            <p class="card-text">Im Marktstammdatenregister werden Stammdaten von Strom- und Gaserzeugungsanlagen
              bundesweit erfasst und in maschinenlesbarer Form zur Verfügung gestellt. </p>
            <a href="https://www.marktstammdatenregister.de/MaStR" target="_blank" class="btn btn-secondary">Webseite</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="content/images/dwd.jpg" class="card-img-top img-thumbnail" alt="Das ">
            <h5 class="card-title mt-3">Deutscher Wetterdienst (DWD)</h5>
            <p class="card-text">Der Deutsche Wetterdienst stellt seinen umfangreichen Klimadatenbestand im Climate Data
              Center bereit, der frei genutzt werden kann. </p>
            <a href="https://www.dwd.de/DE/leistungen/cdc/climate-data-center.html;jsessionid=89EA878A93F01B14A0464DBFB10D08D4.live21061"
               target="_blank" class="btn btn-secondary">Webseite</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="content/images/ufz.png" class="card-img-top img-thumbnail" alt="Das ">
            <h5 class="card-title mt-3">Helmholtz-Zentrum für Umweltforschung (UFZ)</h5>
            <p class="card-text">Das Helmholtz-Zentrum für Umweltforschung stellt seine Daten zum deutschlandweiten Dürremonitor im NetCFD Format zur Vergügung.</p>
            <a href="https://www.ufz.de/index.php?de=37937"
               target="_blank" class="btn btn-secondary">Webseite</a>
          </div>
        </div>
      </div>
    </div>
</div>
