<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <img class="img-fluid" style="max-height: 25px" src="content/images/wappen-sachsen.png">
    </button>
    <div class="logo-text" *ngIf="!collapsed">Klimadashboard</div>
    <button class="btn-close" *ngIf="!collapsed" (click)="closeSideNav()">
      <fa-icon class="fa-times" [icon]="'times'"></fa-icon>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a [routerLink]="[data.routeLink]" class="sidenav-nav-link"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}"
      >
        <fa-icon class="sidenav-link-icon" [icon]="$any(data.icon)"></fa-icon>
        <span class="sidenav-link-text" *ngIf="!collapsed">{{data.label}}</span>
      </a>
    </li>
  </ul>
</div>
