.body {
  height: 100vh;
  width: calc(100% - 20.5625rem);
  margin-left: 20.5625rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  // background: #f4f7fa;
  padding: 2rem;
}

.body-trimmed {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}
