<div class="row">
  <div class="col-xl-9">
    <div data-bs-spy="scroll" data-bs-target="#on-this-page-menu" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div>
        <h1 id="klimadaten" class="mt-3"><fa-icon [icon]="'temperature-arrow-up'"></fa-icon> Klimadaten des Deutschen Wetterdienstes</h1>
        <p>
          Der Deutsche Wetterdienst betreibt das dichteste meteorologische und klimatologische Messnetz in Deutschland. Die dort gewonnenen Daten werden seit vielen Jahrzehnten verarbeitet und archiviert. Auf diese Weise haben sich rund 100 Milliarden Klimadaten angesammelt, deren Zeitreihen zum Teil bis ins 18. Jahrhundert zurück reichen. (Quelle: <a href="https://www.dwd.de/DE/leistungen/klimadatendeutschland/ueberblick.html;jsessionid=7F96C8A55C722157FE1D45AD2B99F35B.live31094?nn=16102&lsbId=343278">Deutscher Wetterdienst</a>)
        </p>
        <h2 id="temperatur-veraenderung">Veränderung der Temperatur</h2>
        <p>
          Das folgende Diagramm zeigt in <span class="p-1" style="background-color: rgba(255, 99, 132, 1); color: white;">roter Linie</span> die Jahresdurchschnittstemperatur für Sachsen seit dem Jahr 1881 an. Mit <span class="p-1" style="background-color: rgba(25, 99, 132, 1); color: white;">blauer Linie</span> wird der Mittelwert der Temperatur der letzten 30-Jahre dargestellt. Durch das Verwenden eines 30-Jahre Mittelwertes werden langfristige Trends sichtbar. Außerdem fallen kurzfristige Schwankungen so nicht ins Gewicht.
        </p>
        <div class="card p-3">
          <h5 id="durchschnittstemperatur" class="text-center">Jahresdurchschnittstemperatur in °C in Sachsen</h5>
          <canvas baseChart height="400" [data]="getChartData()" [options]="getChartOptions()" [type]="'line'">
          </canvas>
          <hr>
          <p class="mt-0 mb-0 text-end">Quelle: <a href="https://www.dwd.de/DE/leistungen/cdc/climate-data-center.html;jsessionid=89EA878A93F01B14A0464DBFB10D08D4.live21061">Climate Data Center - Deutscher Wetterdienst</a></p>
        </div>
        <p>
          Eine alternative und aktuell sehr populäre Darstellungsweise der Temperaturveränderungen sind die sogenannten „Climate Stripes”. Entwickelt wurde diese Grafik von <a href="http://www.met.reading.ac.uk/~ed/home/index.php" target="_blank">Ed Hawkins</a>. Unter der Webseite <a href="https://www.climatecentral.org/showyourstripes">„Show your stripes”</a> kann man sich für beliebige Gebiete auf der ganzen Welt die Temperaturveränderung erzeugen lassen.
          Die vertikalen Farbstriche entsprechen jeweils einem Jahr und zeigen deren durchschnittliche Jahrestemperatur in Sachsen seit 1881.
        </p>
        <img class="img-fluid" src="content/images/stripes_EUROPE-Germany-Sachsen-1881-2021-DW.png">
        <h2 id="weitere-veraenderungen" class="mt-3">Weitere Veränderungen</h2>
        <p>
          Da Durchschnittstemperatur nur schwer verständlich bzw. greifbar sind, kann man auch andere Maße verwenden.
        </p>
        <ol>
          <li>
            Ein <span class="fw-bold">Frosttag</span> ist ein Tag, an dem das Minimum der Lufttemperatur unterhalb des Gefrierpunktes von 0 °C liegt.
          </li>
          <li>
            Ein <span class="fw-bold">Sommertag</span> ist ein Tag, an dem das Maximum der Lufttemperatur ≥ 25 °C beträgt.
            Die Menge der Sommertage enthält auch die Heißen Tage.
          </li>
          <li>
            Ein <span class="fw-bold">Heißer Tag</span> ist ein Tag, an dem das Maximum der Lufttemperatur mindestens 30,0 °C beträgt.
          </li>
        </ol>
        <div class="row mb-3">
          <div class="col-md-4">
            <h6 class="text-uppercase text-muted mb-3">Frosttage</h6>
            <button type="button" class="btn btn-success position-relative">
              <span>{{lastYearValueFrost.toFixed(1)}}</span>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <span>{{ data.years[0] }}</span>
            <span class="visually-hidden">unread messages</span>
          </span>
            </button>
            <fa-icon icon="arrow-up-right-dots" [rotate]="90" class="ms-4 me-4"></fa-icon>
            <button type="button" class="btn btn-warning position-relative">
              <span>{{firstYearValueFrost.toFixed(1)}}</span>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <span>{{data.years[data.years.length - 1]}}</span>
            <span class="visually-hidden">unread messages</span>
          </span>
            </button>
          </div>
          <div class="col-md-4">
            <h6 class="text-uppercase text-muted mb-3">Sommertage</h6>
            <button type="button" class="btn btn-success position-relative">
              <span>{{lastYearValueSummer.toFixed(1)}}</span>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <span>{{ data.years[0] }}</span>
            <span class="visually-hidden">unread messages</span>
          </span>
            </button>
            <fa-icon icon="arrow-up-right-dots" class="ms-4 me-4"></fa-icon>
            <button type="button" class="btn btn-warning position-relative">
              <span>{{firstYearValueSummer.toFixed(1)}}</span>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <span>{{data.years[data.years.length - 1]}}</span>
            <span class="visually-hidden">unread messages</span>
          </span>
            </button>
          </div>
          <div class="col-md-4">
            <h6 class="text-uppercase text-muted mb-3">Heiße Tage</h6>
            <button type="button" class="btn btn-success position-relative">
              <span>{{ lastYearValueHeat.toFixed(1) }}</span>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <span>{{ data.years[0] }}</span>
            <span class="visually-hidden">unread messages</span>
          </span>
            </button>
            <fa-icon icon="arrow-up-right-dots" class="ms-4 me-4"></fa-icon>
            <button type="button" class="btn btn-warning position-relative">
              <span>{{firstYearValueHeat.toFixed(1)}}</span>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <span>{{data.years[data.years.length - 1]}}</span>
            <span class="visually-hidden">unread messages</span>
          </span>
            </button>
          </div>
        </div>
        <p>Im folgenden Diagramm sind diese drei Werte für Sachsen im 30-Jahres-Mittel dargestellt.</p>
        <div class="card p-3">
          <h5 id="anzahl-der-tage" class="text-center">Anzahl der Frost, Sommer und Heißen Tage im Jahr</h5>
          <canvas baseChart height="400" [data]="getDayChangesData()" [options]="getDayChangesOptions()" [type]="'line'">
          </canvas>
          <hr>
          <p class="mt-0 mb-0 text-end">Quelle: <a href="https://www.dwd.de/DE/leistungen/cdc/climate-data-center.html;jsessionid=89EA878A93F01B14A0464DBFB10D08D4.live21061">Climate Data Center - Deutscher Wetterdienst</a></p>
        </div>
        <div class="alert alert-info" role="alert">
          <i class="bi bi-info-circle"></i> Mit einem Klick auf die durchgestrichenen Elemente der Legende können Sie diese Werte auch im Graph anzeigen.
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 toc">
    <h5>Auf dieser Seite</h5>
    <hr>
    <div id="on-this-page-menu" class="d-flex flex-column gap-2 on-this-page-menu-scrollspy">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="klima#klimadaten">Aktuelle Daten</a>
          <a class="nav-link" href="klima#temperatur-veraenderung">Veränderung der Temperatur</a>
          <a class="nav-link" href="klima#weitere-veraenderungen">Weitere Veränderungen</a>
          <a class="nav-link" href="klima#anzahl-der-tage">Anzahl der Frost-/Sommer- und Heißen Tage</a>
        </nav>
      </nav>
    </div>
  </div>
</div>



