<div class="row">
  <div class="col-xl-9">
    <div data-bs-spy="scroll" data-bs-target="#on-this-page-menu" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div>
        <h1 id="waldzustand"><fa-icon [icon]="'tree'"></fa-icon>Waldzustand</h1>
        <p>
          Das Sächsisches Staatsministerium für Energie, Klimaschutz, Umwelt und Landwirtschaft bzw. der <a
          href="https://www.sbs.sachsen.de/">Sachsenforst</a>
          erheben seit {{ forestConditionData.labels.length }} Jahren den <a href="https://www.wald.sachsen.de/waldzustandserhebung-6101.html">Waldzustandsbericht</a>.
          Dazu werden an 6.672 Bäumen folgende Charakteristika bzw. Schäden aufgenommen:
        </p>
        <ul>
          <li>Kronenverlichtung (Blatt- bzw. Nadelverlust),</li>
          <li>Vergilbungsgrad,</li>
          <li>Blüte, Fruchtbildung, Anzahl der Nadeljahrgänge sowie
          <li>biotische, z.B. durch Insekten und Pilze verursachte, und</li>
          <li>abiotische, z.B. durch Dürre, Feuer und Sturm.</li>
        </ul>
        <p>
          Für alle Baumarten kommt der <a href="{{ forestConditionData.source.url }}">Waldzustandsbericht {{ forestConditionData.source.lastModified | date : 'yyyy' }}</a> auf den
          <b>aktuellen mittleren Nadel- und Blattverlust von
            {{ forestConditionData.datasets[2].data[forestConditionData.datasets[2].data.length - 1] | number:'1.1-1' }} Prozent</b> (graue Linie im Diagramm).
          Im Vergleich zur {{ forestConditionData.labels.length }}-jährigen Beobachtungszeitreihe ist das der
           {{ index == 1 ? "" : index + "-" }}höchste jemals gemessene Wert.
          Der Anstieg gegenüber dem Vorjahr {{ forestConditionData.source.lastModified - 1}} ({{ forestConditionData.datasets[2].data[forestConditionData.datasets[2].data.length - 2] | number:'1.1-1' }} Prozent) beträgt
            {{ forestConditionData.datasets[2].data[forestConditionData.datasets[2].data.length - 1] -
               forestConditionData.datasets[2].data[forestConditionData.datasets[2].data.length - 2] | number:'1.1-1' }} Prozentpunkte.
        </p>
        <div class="alert alert-danger" role="alert">
          <fa-icon icon="triangle-exclamation"></fa-icon> Die drei Jahre mit den höchsten mittleren Nadel- und Blattverlusten sind <b>{{ getSortedDataString() }}</b>.
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="card mt-0">
              <div class="card-body">
                <h5 id="" class="card-title text-center mt-2">
                  Schadstufenverteilung und mittlere Kronenverlichtung aller Baumarten
                </h5>
                <canvas baseChart height="200px" [data]="getWaldzustandsBerichtData()" [options]="getChartOptions()" [type]="'line'">
                </canvas>
                <hr>
                <p class="text-end mt-0 mb-0">Quelle: <a href="{{ forestConditionData.source.url}}">{{ forestConditionData.source.label}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 toc">
    <h5>Auf dieser Seite</h5>
    <hr>
    <div id="on-this-page-menu" class="d-flex flex-column gap-2 on-this-page-menu-scrollspy">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="waldzustand">Waldzustand</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="waldzustand#alle-baumarten">Alle Baumarten</a>
          </nav>
        </nav>
      </nav>
    </div>
  </div>
</div>
