<div class="card card-stats">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted mb-0">{{ name }}</h5>
        <span class="h2 font-weight-bold mb-0">{{ value | number: valueNumberFormat }} {{ unit }}</span>
      </div>
      <div class="col-auto">
        <div style="background-color: {{ backgroundColor }};" class="icon icon-shape {{ iconBackgroundColorClass }} text-white rounded-circle shadow">
          <fa-icon [icon]="$any(icon)"></fa-icon>
        </div>
      </div>
    </div>
    <p class="mt-3 mb-0 text-muted text-sm">
      <span class="{{ getTextColor() }} mr-2">
          <fa-icon [icon]="$any(getArrowIcon())"></fa-icon>
          <span>{{ diff.toFixed(1) }}%</span>
      </span>
      <span class="text-nowrap"> im Vergleich zum Vorjahr</span>
    </p>
  </div>
</div>
