<div class="row">
  <div class="col-xl-9">
    <div data-bs-spy="scroll" data-bs-target="#on-this-page-menu" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div>
        <h1 id="aktuelle-daten" class="mt-3"><fa-icon [icon]="'solar-panel'"></fa-icon> Erneuerbare Energien</h1>
        <p>
          Als Erneuerbare Energien oder regenerative Energien werden Energiequellen bezeichnet, die im menschlichen Zeithorizont für nachhaltige Energieversorgung praktisch unerschöpflich zur Verfügung stehen (Volker Quaschning: Regenerative Energiesysteme. Technologie – Berechnung – Simulation. 8. aktualisierte Auflage. München 2013, S. 34.) oder sich verhältnismäßig schnell erneuern.
        </p>

        <div class="row">
          <div class="col">
            <jhi-card [value]="sunValue" name="Photovoltaik" unit="GWh" [icon]="'solar-panel'" [diff]="sunDiff" iconBackgroundColorClass="bg-warning"></jhi-card>
            <jhi-card [value]="windValue" name="Windenergie" unit="GWh" [icon]="'wind'" [diff]="windDiff" iconBackgroundColorClass="bg-danger"></jhi-card>
          </div>
          <div class="col">
            <jhi-card [value]="bioValue" name="Biomasse" unit="GWh" [icon]="'leaf'" [diff]="bioDiff" iconBackgroundColorClass="bg-success"></jhi-card>
            <jhi-card [value]="waterValue" name="Wasserkraft" unit="GWh" [icon]="'droplet'" [diff]="waterDiff" iconBackgroundColorClass="bg-info"></jhi-card>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <p>
              Der Anteil des Stromes aus erneuerbaren Energien am Stromverbrauch aus dem Netz der öffentlichen Versorgung betrug damit <span class="year"></span> in Sachsen in {{ mostRecentYear }} {{ lastYearGrossContribution }} %.

              <ngb-progressbar class="m-4" type="dark" textType="white" [value]="lastYearGrossContribution" [showValue]="true"></ngb-progressbar>

              Bei der Einspeisung von Strom aus Erneuerbaren Energien wurde {{ mostRecentYear }} gegenüber dem Jahr {{ mostRecentYear - 1 }} ein Anstieg von {{ ((getSumForYear("work", mostRecentYear) / getSumForYear("work", mostRecentYear - 1) * 100) - 100).toFixed(1) }}% verzeichnet. Die eingespeiste Strommenge stieg von {{ getSumForYear("work", mostRecentYear - 1) }} GWh auf {{ getSumForYear("work", mostRecentYear) }} GWh.
            </p>
            <p>
              Dieser Anstieg wurde nochmals durch ein überdurchschnittlich sonniges Wetter, besonders aber durch die sehr guten Windverhältnisse im Jahr 2019 bestimmt. Auch der Zuwachs von 11,6 % beim Ausbau der installierten Leistung von Photovoltaikanlagen trug zur positiven Entwicklung bei. Die Stromerzeugung aus Wasserkraftanlagen normalisierte sich im Jahr 2019, nachdem im Vorjahr aufgrund der langen Trockenheit ein sehr niedriger Wert erreicht wurde.
            </p>
          </div>
        </div>
      </div>
      <div>
        <h2 id="historische-daten" class="mt-3">Historische Daten</h2>
        <p>
          Die Energiedaten informieren umfassend über die Energieversorgung im Freistaat Sachsen. Grundlage ist die Energiebilanz, in der das Aufkommen, die Umwandlung und die Verwendung von Energieträger in Sachsen zeitraumbezogen und detailliert dargestellt werden. Sie wird nach einer im Länderarbeitskreis Energiebilanzen abgestimmten Methodik erstellt.
        </p>
        <div class="card p-3">
          <h5 id="beitrag-stromerzeugung" class="text-center">Beitrag zur Stromerzeugung in GWh</h5>
          <canvas baseChart height="400"
            [data]="workChartData" [options]="workChartOptions" [type]="'bar'">
          </canvas>
          <hr>
          <p class="text-end mt-0 mb-0">Quelle: <a href="https://www.energie.sachsen.de/zahlen-und-fakten-3971.html">Statistisches Landesamt Sachsen</a></p>
        </div>
        <div class="card p-3">
          <h5 id="installierte-leistung" class="text-center">Installierte Leistung in MW</h5>
          <canvas baseChart height="400"
            [data]="powerChartData" [options]="powerChartOptions" [type]="'bar'">
          </canvas>
          <hr>
          <p class="text-end mt-0 mb-0">Quelle: <a href="https://www.energie.sachsen.de/zahlen-und-fakten-3971.html">Statistisches Landesamt Sachsen</a></p>
        </div>
      </div>
      <div>
        <h2 id="photovoltaik">Zubau von Photovoltaik</h2>
        <p>
          Die Photovoltaik ist zurück! Sie ist ein wichtiger Baustein der Energiewende und ermöglicht es allen selbst als Produzent von Erneuerbarer Energie bei der Energiewende mitzuhelfen. Mit Hilfe des Marktstammdatenregisters kann man sich einen guten Überblick des aktuellen Ausbaustands und der Ausbaugeschwindigkeit machen. Aktuell sind in Sachsen mindestens {{ STATISTICS.sun["factories-active"].toLocaleString('de-DE') }} Photovoltaikanlagen im Betrieb. Dieses Jahr sind allein {{ STATISTICS.sun["factories-new-current-year"].toLocaleString('de-DE') }} Anlagen in Betrieb gegangen. Im Vorjahr sind es {{ STATISTICS.sun["factories-new-last-year"].toLocaleString('de-DE') }} Anlagen gewesen.
        </p>
        <div class="row">
          <div class="col-xl-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Ø {{ (STATISTICS.sun["brutto-power-avg-week-current-year"] / 1000).toFixed(1) }} MWp
                </h5>
                <p class="card-text">Zubau pro Woche {{ today.getFullYear() }}</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Ø {{ (STATISTICS.sun["brutto-power-avg-week-last-year"] / 1000).toFixed(1) }} MWp
                </h5>
                <p class="card-text">Zubau pro Woche {{ today.getFullYear() - 1 }}</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Ø {{ (STATISTICS.sun["brutto-power-avg-week-second-last-year"] / 1000).toFixed(1) }} MWp
                </h5>
                <p class="card-text">Zubau pro Woche {{ today.getFullYear() - 2 }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="card p-3">
              <div class="row">
                <div class="col-md-10">
                  <h5 id="pv-neue-anlagen-leistung" class="text-center mt-2">Zubau an Photovoltaik in MW</h5>
                </div>
                <div class="col-md-2">
                  <ng-select [items]="timeUnits" bindLabel="value" bindValue="key" [(ngModel)]="selectedTimeUnit" (change)="getMastrChartData()" [clearable]="false"></ng-select>
                </div>
              </div>
              <canvas baseChart height="400"
                      [data]="mastrChartData" [options]="mastrChartOptions" [type]="'bar'">
              </canvas>
              <hr>
              <p class="text-end mt-0 mb-0">Quelle: <a href="https://www.marktstammdatenregister.de/MaStR">Marktstammdatenregister der Bundesnetzagentur</a></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <h5 id="pv-landkreise-und-kreisfreie-staedte" class="card-title text-center mt-2">
                  Verfügbarkeit an Photovoltaik in kW in Landkreisen und kreisfreien Städten
                </h5>
                <jhi-saxony-map [statistic]="'Solare Strahlungsenergie'" [districts]="districts" [showValues]="false" [normalizeByPopulation]="true" [showTable]="false"></jhi-saxony-map>
                <hr>
                <p class="mt-3 text-end mb-0">Quelle: <a href="https://www.marktstammdatenregister.de/MaStR">Marktstammdatenregister der Bundesnetzagentur</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 toc">
    <h5>Auf dieser Seite</h5>
    <hr>
    <div id="on-this-page-menu" class="d-flex flex-column gap-2 on-this-page-menu-scrollspy">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="erneuerbare-energien#aktuelle-daten">Aktuelle Daten</a>
          <a class="nav-link" href="erneuerbare-energien#historische-daten">Historische Daten</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="erneuerbare-energien#beitrag-stromerzeugung">Beitrag zur Stromerzeugung</a>
            <a class="nav-link ms-3 my-1" href="erneuerbare-energien#installierte-leistung">Installierte Leistung</a>
          </nav>
          <a class="nav-link" href="erneuerbare-energien#photovoltaik">Photovoltaik</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="erneuerbare-energien#pv-neue-anlagen-leistung">Zubau pro Zeiteinheit</a>
            <a class="nav-link ms-3 my-1" href="erneuerbare-energien#pv-landkreise-und-kreisfreie-staedte">Landkreise und kreisfreie Städte</a>
          </nav>
        </nav>
      </nav>
    </div>
  </div>
</div>



