<div class="card p-3">
  <h5 id="{{ id }}" class="text-center">{{ heading }}</h5>
  <div class="row">
    <div class="col-xl-{{ description ? 8 : 12 }}">
      <canvas baseChart height="{{ height }}"
              [data]="chartData" [options]="chartOptions" [type]="chartType">
      </canvas>
    </div>
    <div *ngIf="description" class="col-xl-4">
      <div [innerHTML]="description.nativeElement.outerHTML" class="mt-4"></div>
    </div>
  </div>
  <hr>
  <p class="text-end mt-0 mb-0">Quelle{{ sources.length === 1 ? "" : "n"}}:
    <ng-container *ngFor="let source of sources; last as isLast">
      <a href="{{ source.url }}" target="_blank">{{ source.label }}</a><span *ngIf="!isLast">, </span>
    </ng-container>
  </p>
</div>
